<?xml version='1.0' encoding='utf-8'?>
<!-- WiX Burn bootstrapper: the downloadable Windows .exe chains the MSI. -->
<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'
     xmlns:bal='http://wixtoolset.org/schemas/v4/wxs/bal'>
  <Bundle
    Name='Beskid'
    Manufacturer='Cyber Nomad Collective'
    Version='$(var.Version)'
    UpgradeCode='68111af0-f0f1-4d30-bcc3-c52ea3166819'>
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl='https://www.apache.org/licenses/LICENSE-2.0'
        Theme='hyperlinkLicense'
        LogoFile='$(var.AssetsDir)\icons\beskid-512.png' />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile='$(var.MsiPath)' />
    </Chain>
  </Bundle>
</Wix>
